<!DOCTYPE>
<html>
<head>
    <title>Add</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <h1 class="text-center">Thêm mới</h1>
        <hr><br>
        <form method="post" action="/mangapost" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Manganame: </label>
                <input class="col-lg-4" required type="text" id="manganame" name="manganame"
                    placeholder="Nhập Tên truyện">
            </div><br>

            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Author: </label>
                <input class="col-lg-4" required type="text" id="author" name="author" placeholder="Nhập tác giả">
            </div><br>

            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Content: </label>
                <input class="col-lg-4" required type="text" id="content" name="content" placeholder="Nhập nội dụng">
            </div><br>
            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Category: </label>
                <select class="col-lg-4" id="category" name="category">
                    <option value>Chọn thể loại</option>
                    <script>
                        $(document).ready(function () {
                            $.get('/categorys', function (data) {
                                if (data && data.length > 0) {
                                    data.forEach(function (category) {
                                        $('#category').append($('<option>', {
                                            value: category.categoryname,
                                            text: category.categoryname
                                        }));
                                    });
                                }
                            });
                        });
                    </script>
                </select>
            </div><br>
             <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Thumbnail: </label>
                <textarea class="col-lg-4" required id="image" name="image" placeholder="Nhập liên kết ảnh" ></textarea>
            </div><br>
            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">View: </label>
                <input class="col-lg-4" required type="number" id="view" name="view" placeholder="Nhập số view">
            </div><br>
            <div class="row">
                <span class="col-lg-2"></span>
                <label class="col-lg-2">Like: </label>
                <input class="col-lg-4" required type="number" id="like" name="like" placeholder="Nhập số like">
            </div><br>

            <br>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>

        </form>
    </div>
</body>

</html>