<!DOCTYPE html>
<html>

<head>
    <title>Comic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Notification</h1>
        <hr>
        <h2>Danh sách thông báo</h2>
        <div class="table-data">
            <div class="order">

                <table >
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>content</th>
                            <th>nút</th>
                        </tr>
                    </thead>

                    <tbody >
                        {{#each notification}}
                        <tr >
                            <td>{{this.title}}</td>
                            <td>{{this.content}}</td>
                            {{!-- <td>
                                <button class="btn btn-info" onclick="showChapters('{{this.manganame}}')">Chi
                                    tiết</button>
                            </td> --}}
                            <td>
                                  <form style="margin-top: 10dp;" action="/approveManga/{{this.mangaId}}"
                                    onclick="return confirm('Duyệt nha ?')" method="post">
                                    <button
                                        style="width: 100px; height:30px;  margin-top: 5px; background-color:#1E90FF ; border: none; border-radius: 5px; color: white;"
                                        type="submit">Duyệt</button>
                                </form>

                                
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>

</html>