<!DOCTYPE html>
<html>

<head>
    <title>Comic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Notification</h1>
        <hr>
        <h2>Danh sách thông báo</h2>
        <div class="table-data">
            <div class="order">

                <table>
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>content</th>
                            <th>nút</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each notification}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.content}}</td>
                            {{!-- <td>
                                <button class="btn btn-info" onclick="showChapters('{{this.manganame}}')">Chi
                                    tiết</button>
                            </td> --}}
                            <td>

                                <button onclick="approve('{{this.mangaId}}')"
                                    style="width: 100px; height: 30px; margin-top: 5px; background-color: #1E90FF; border: none; border-radius: 5px; color: white;">Duyệt</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script>
        function approve(mangaId) {
            fetch(`/approveManga/${mangaId}`, {
                method: 'POST'
            }).then(response => {
                if (response.status === 200) {
                    
                   confirm('Duyệt thành công')
                } else {
                    alert('Đã xảy ra lỗi khi duyệt truyện');
                }
            });
        }
    </script>
</body>

</html>