<!-- your_template.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <p class="font-weight-bold text-center" style="font-size: 35px; color: rgb(15, 141, 252);">{{message}}</p>

    <!-- Sử dụng lớp Bootstrap cho button -->
    <form action="/nhomdich" method="get">
        <button class="btn btn-primary btn-lg" type="submit">Quay lại trang chủ</button>
    </form>
</body>

</html>